@font-face {
    font-family: "Custom-Font";
    src: url('../../assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

header{
    width: 100%;
}

.header_h1{
    font-family: "Custom-Font", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 5vh;
}